<%- include('partials/header') %>
<div class="form-container">
    <h1>Forgot Password</h1>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="EmailID">Enter Registered Email ID</label>
            <input type="text" name="EmailID" id="EmailID" class="form-control" value="<%= locals.EmailID || '' %>" required />
        </div>
         <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
			<button type="submit" onclick="location.href = '/login';" class="btn btn-primary">Cancel</button>
           
        </div>
		
    </form>
</div> 
<%- include('partials/footer') %>